

.column {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr 1fr;
}
.row {
    display: flex;
    flex-direction: column;
     position: fixed;
    right: 10px;
}

button {
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
    padding: auto;
    text-align:center;
    background-color: blue;}
   
body {
    font-size: 12px;
    line-height:1.5;
    background: linear-gradient(#0000ff, #00ffff, #ffff00, rgb(212, 212, 0));
}
h1, h2, h3 {
    font-size: 2em;
    font-family: Crimson-Text;
}
p {
    font-family:quicksand;
}
header {
    text-align: center;
    border: 3px solid;
    background-color: yellow;
    opacity: 80%;
    margin-bottom: 60px;
}
ul {
line-height: 2;
}
li::marker {
    content: '🐰';
}