.column {
    float: left;
    flex: auto;
    flex-direction: column;
}
.row:after {
    content: "";
    display: table;
    clear:both;
}
.right {
    width: 50%;
    flex: auto;
}
.middle .left {
    width: 25%;
    flex: auto;
}